---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: hello-operator-manager-role
rules:
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - hello.example.com
  resources:
  - helloapps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - hello.example.com
  resources:
  - helloapps/finalizers
  verbs:
  - update
- apiGroups:
  - hello.example.com
  resources:
  - helloapps/status
  verbs:
  - get
  - patch
  - update
